<a href="https://colab.research.google.com/github/wonwookim/DataMining/blob/main/data_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Transformation

* 데이터는 먼저 분석가가 쉽게 분석할 수 있도록 조직되고 구조화되어야 함

* 데이터 변환은 raw data를 수정, 계산, 분리 및 분석 가능한 데이터 모델로 결합하는 프로세스

###Data Transformation:Revising(수정)
* 데이터를 수정하면 값이 정확하고 의도된 사용을 지원하는 방식으로 구성



* Type
  * Data Cleansing
  * Format Revision/Conversion (교정)
  * Key Restructuring (핵심 구조 조정)
  * Deduplication (중복 제거)
  * Data Validation (데이터 타당성)
  * Removing Unused and Repeated Columns(불필요 요소 제거)

###Data Transformation: Computing(계산을 통한 변환)
  * 기존 데이터에서 새로운 데이터 값을 계산하는 것은 비율, 요약, 통계 및 기타 중요한 수치를 계산하는 것

  * Type
    * Derivation (파생)
    * Summarization(요약)
    * Pivoting (피벗)
    * Sorting, ordering, and indexing(정렬, 정렬 및 인덱싱)
    * Scaling, standardization, and normalization(확장, 표준화 및 표준화)
    * Vectorization(벡터화)

###Data Transformation: Separating(분리)
  * Separating은 구성 요소를 나누는 것
    * 데이터 값은 결합되어있을 수 있지만 세분화된 분석을 위해서는 분리해야 할 수 있음
  * Type
    * Splitting
    * Filtering

###Data Transformation: Combining
* Combining은 서로 다른 테이블의 값을 합치는 것을 의미
* Type
  * Joining
  * Merge

####Merge

In [1]:
import pandas as pd
df1 = pd.DataFrame({'data1' : [0,1,2,3,4,5,6], 'key': ['b','b','a','c','a','a','b']})
df2 = pd.DataFrame({'data2' : [0,1,2], 'key' : ['a','b','d']})

pd.merge(df1,df2, on = 'key') # 왼쪽은 기준이 될 데이터, 2번째는 붙일 데이터, 
# on은 어떤 열 기준으로 붙일지 결정 -> key 기준으로 둘 다 가지고 있는 값만 보여줌줌

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [2]:
pd.merge(df1, df2, how = 'outer') # how = 'outer' 사용하면 중복되지 않는 값들도 보여줌

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [3]:
pd.merge(df1, df2, how = 'left')

   data1 key  data2
0      0   b    1.0
1      1   b    1.0
2      2   a    0.0
3      3   c    NaN
4      4   a    0.0
5      5   a    0.0
6      6   b    1.0

In [4]:
pd.merge(df1, df2, how = 'right')

   data1 key  data2
0    2.0   a      0
1    4.0   a      0
2    5.0   a      0
3    0.0   b      1
4    1.0   b      1
5    6.0   b      1
6    NaN   d      2

In [5]:
pd.merge(df1, df2, how = 'inner') #default 값

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [6]:
left = pd.DataFrame({"A" : [1,2,3,4], "B" : [5,6,7,8],
                     'key1' : ['k0','k0','k1','k2'],
                     'key2' : ['k0','k1','k0','k1']})
right = pd.DataFrame({"C" : [10,20,30,40],
                      "D" : [50,60,70,80],
                      'key1' : ['k0','k1','k1','k2'],
                      'key2' : ['k0','k0','k0','k0']})

In [7]:
left

   A  B key1 key2
0  1  5   k0   k0
1  2  6   k0   k1
2  3  7   k1   k0
3  4  8   k2   k1

In [8]:
right

    C   D key1 key2
0  10  50   k0   k0
1  20  60   k1   k0
2  30  70   k1   k0
3  40  80   k2   k0

In [9]:
pd.merge(left,right, on = ['key1','key2'])

   A  B key1 key2   C   D
0  1  5   k0   k0  10  50
1  3  7   k1   k0  20  60
2  3  7   k1   k0  30  70

In [10]:
pd.merge(left,right,how = 'left', on = ['key1','key2'])

   A  B key1 key2     C     D
0  1  5   k0   k0  10.0  50.0
1  2  6   k0   k1   NaN   NaN
2  3  7   k1   k0  20.0  60.0
3  3  7   k1   k0  30.0  70.0
4  4  8   k2   k1   NaN   NaN

In [11]:
pd.merge(left,right, on = 'key1')

   A  B key1 key2_x   C   D key2_y
0  1  5   k0     k0  10  50     k0
1  2  6   k0     k1  10  50     k0
2  3  7   k1     k0  20  60     k0
3  3  7   k1     k0  30  70     k0
4  4  8   k2     k1  40  80     k0

In [12]:
left = pd.DataFrame({'key' : ['apple', 'apple', 'bar'], 
                     'left_' : [1,2,3],
                     'num' : ['one','two','one']})
right = pd.DataFrame({'key' : ['apple', 'apple', 'bar','bar'],
                      'right_' : [4,5,6,7],
                      'num' : ['one','one','one','two']})

In [13]:
left

     key  left_  num
0  apple      1  one
1  apple      2  two
2    bar      3  one

In [14]:
right

     key  right_  num
0  apple       4  one
1  apple       5  one
2    bar       6  one
3    bar       7  two

In [15]:
pd.merge(left, right, on =['key', 'num'])

     key  left_  num  right_
0  apple      1  one       4
1  apple      1  one       5
2    bar      3  one       6

In [16]:
pd.merge(left, right, on = 'key')

     key  left_ num_x  right_ num_y
0  apple      1   one       4   one
1  apple      1   one       5   one
2  apple      2   two       4   one
3  apple      2   two       5   one
4    bar      3   one       6   one
5    bar      3   one       7   two

In [17]:
pd.merge(left, right, on = 'key', suffixes = ('_left', '_right')) #suffixes를 사용하면 
# x,y 대신 해당 값이 들어감

     key  left_ num_left  right_ num_right
0  apple      1      one       4       one
1  apple      1      one       5       one
2  apple      2      two       4       one
3  apple      2      two       5       one
4    bar      3      one       6       one
5    bar      3      one       7       two

In [18]:
left1 = pd.DataFrame({'key' : ['a','b','a','a','b','c'], 'value' : [0,1,2,3,4,5]})
right1 = pd.DataFrame({'group_val' : [3.5,7.0]}, index = ['a','b'])

In [19]:
pd.merge(left1, right1, left_on = 'key', right_index= True) #다른 것을 기준으로 
# merge를 할 때 left_on은 앞에 데이터프레임에서 어떤것을 비교할지? 
# right_index는 뒤 데이터 프레임에서 index 값으로 비교할 것인지 선택택

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

####Concat

In [20]:
df1 = pd.DataFrame({'A':['A0','A1','A2'],
                    'B' : ['B0','B1','B2'],
                    'C' : ['C0','C1','C2'],
                    'D' : ['D0','D1','D2']},
                   index = [0,1,2])

df2 = pd.DataFrame({'A':['A3','A4','A5'],
                    'B' : ['B3','B4','B5'],
                    'C' : ['C3','C4','C5'],
                    'D' : ['D3','D4','D5']},
                   index = [3,4,5])

df3 = pd.DataFrame({'A':['A6','A7','A8'],
                    'B' : ['B6','B7','B8'],
                    'C' : ['C6','C7','C8'],
                    'D' : ['D6','D7','D8']},
                   index = [6,7,8])

In [21]:
frames = [df1,df2,df3]
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2,
     A   B   C   D
 3  A3  B3  C3  D3
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5,
     A   B   C   D
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7
 8  A8  B8  C8  D8]

In [22]:
pd.concat(frames)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
8  A8  B8  C8  D8

In [23]:
result = pd.concat(frames, keys = ['x', 'y','z']) 
#keys는 합쳐진 데이터 프레임 개수만큼 사용해야함 그 이상 그 이하 x
result

      A   B   C   D
x 0  A0  B0  C0  D0
  1  A1  B1  C1  D1
  2  A2  B2  C2  D2
y 3  A3  B3  C3  D3
  4  A4  B4  C4  D4
  5  A5  B5  C5  D5
z 6  A6  B6  C6  D6
  7  A7  B7  C7  D7
  8  A8  B8  C8  D8

In [24]:
result.loc['x']

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [25]:
df4 = pd.DataFrame({'B' : ['B2', 'B3','B6'],
                    'D' : ['D2', 'D3', 'D6'],
                    'F' : ['F2', 'F3',' F6']},
                   index = [2, 3, 6])
df4

    B   D    F
2  B2  D2   F2
3  B3  D3   F3
6  B6  D6   F6

In [26]:
result = pd.concat([df1,df4], ignore_index = True) #join이라는 변수로 합집합 교집합 변경 가능능

In [27]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3  NaN  B2  NaN  D2   F2
4  NaN  B3  NaN  D3   F3
5  NaN  B6  NaN  D6   F6

In [28]:
import numpy as np

df1 = pd.DataFrame(np.arange(12).reshape(3,4), columns = list('abcd'))
df2 = pd.DataFrame(np.arange(20).reshape(4,5), columns = list('abcde'))

In [29]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [30]:
df1.add(df2, fill_value = 0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

####Reshaping

In [41]:
data = pd.DataFrame({'state' : ['Ohio', 'Colorado'],
                     'one' : [0,3],
                     'two' : [1,4],
                     'three' : [2,5]})

data = data.set_index('state')
data

          one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [42]:
data = data.reset_index()
data

      state  one  two  three
0      Ohio    0    1      2
1  Colorado    3    4      5

In [43]:
data.columns.names = ['number']
data = data.set_index('state')
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [45]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [46]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [47]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

####Pivoting
* 더 나은 비즈니스 모델을 만들기 위한 방법
* 데이터에 대한 다른 요약본을 보기 위해 컬럼과 행 값을 바꾸는 것

In [51]:
df = pd.read_csv('/content/drive/MyDrive/data_mining/P02_06_test.csv', header = 0, index_col =None)

In [52]:
df

,Household,Family_Size,Location,Ownership,First_Income,Second_Income,Monthly_Payment,Utilities,Debt
0,1,2,2,1,"$58,206","$38,503","$1,585",$252,"$5,692"
1,2,6,2,0,"$48,273","$29,197","$1,314",$216,"$4,267"
2,3,3,4,0,"$37,582","$28,164",$383,$207,"$2,903"
3,4,1,1,1,"$56,610",NaN,"$1,002",$249,"$3,896"
4,5,3,3,0,"$37,731","$21,454",$743,$217,"$3,011"
...,...,...,...,...,...,...,...,...,...
495,496,3,1,0,"$42,758","$34,067","$1,184",$197,"$3,194"
496,497,5,2,1,"$66,397","$54,716",$990,$274,"$8,400"
497,498,2,2,1,"$43,599","$33,364","$1,603",$253,"$5,675"
498,499,4,4,1,"$25,713",NaN,$831,$266,"$4,879"
499,500,1,4,1,"$39,187",NaN,$948,$251,"$3,278"

In [54]:
df_s = df[:30]
df_s.pivot('Ownership', 'First_Income', 'Debt')

First_Income,"$25,853","$27,350","$29,692","$30,434","$33,646","$34,531","$36,970","$37,582","$37,731","$43,640",...,"$55,487","$56,610","$57,395","$57,577","$58,206","$59,486","$59,947","$63,825","$65,241","$66,868"
Ownership,,,,,,,,,,,,,,,,,,,,,
0,NaN,"$2,256",$879,"$3,718",NaN,NaN,"$4,845","$2,903","$3,011",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$3,911"
1,"$4,606",NaN,NaN,NaN,"$4,275","$5,538",NaN,NaN,NaN,"$5,393",...,"$2,783","$3,896","$4,456","$6,261","$5,692","$2,598","$6,275","$5,402","$5,737",NaN

In [55]:
pivoted = df_s.pivot('Ownership', 'First_Income')
pivoted

             Household                                                  \
First_Income   $25,853 $27,350 $29,692 $30,434 $33,646 $34,531 $36,970
Ownership
0                  NaN    12.0    14.0     6.0     NaN     NaN    10.0
1                 15.0     NaN     NaN     NaN    28.0    30.0     NaN

                                      ...    Debt                          \
First_Income $37,582 $37,731 $43,640  ... $55,487 $56,610 $57,395 $57,577
Ownership                             ...
0                3.0     5.0     NaN  ...     NaN     NaN     NaN     NaN
1                NaN     NaN    20.0  ...  $2,783  $3,896  $4,456  $6,261


First_Income $58,206 $59,486 $59,947 $63,825 $65,241 $66,868
Ownership
0                NaN     NaN     NaN     NaN     NaN  $3,911
1             $5,692  $2,598  $6,275  $5,402  $5,737     NaN

[2 rows x 210 columns]